body {
    background-color: rgb(231, 255, 189);
    width: 80vw;
    max-width: 1200px;
    margin: 10px auto;
    text-align: justify;
    border: 1px solid rgb(0, 13, 37);
    border-radius: 5px;
    font-family: 'Montserrat Bold', sans-serif;
  }
  
form {
    margin: 0 auto;
    width: 250px;
}

a {
    color: brown;
    text-decoration: none;
}

a:hover {
    background-color: rgb(176, 255, 176);
    color: rgb(130, 84, 255);
}

.title {
    color: white;
    margin: 10px 10px;
    text-align: center;
    padding: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(25, 184, 104);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.navbar {
    margin: 10px 10px;
}
  
.comentario {
    font-style: italic;
    text-align: center;
    padding: 10px;
}

.botao-cadastrar {
    margin-bottom: 1rem;
}

.carrossel {
    margin: 1rem 0;
}

.botao-comece {
    margin-bottom: 1rem;
}

.carousel {
    width: 40vw;
    margin: 1rem auto 1rem auto;
}

.form-campos {
    margin: 1rem 0;
}

.form-label {
    padding-top: 5px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}