body {
    background-color: rgb(231, 255, 189);
    margin: 0 auto;
    text-align: justify;
    font-family: 'Montserrat Bold', sans-serif;
  }
  
form {
    margin: 0 auto;
    width: 20rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: rgb(176, 255, 176);
    color: rgb(130, 84, 255);
}

.title {
    color: white;
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(25, 184, 104);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.navbar {
    background-color: green;
    margin-bottom: 1rem;
}

.navbar-brand {
    align-items: center;
}

.logo {
    height: 4rem;
    margin-right: .5rem;
}
  
.comentario {
    font-style: italic;
    text-align: center;
    padding: 10px;
}

.botao-cadastrar {
    margin-bottom: 1rem;
}

.carrossel {
    margin: 1rem 0;
}

.botao-comece {
    margin-bottom: 1rem;
}

.carousel {
    width: 40vw;
    margin: 1rem auto 1rem auto;
}

.form-campos {
    margin: 1rem 0;
}

.form-label {
    padding-top: 5px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}